/* did_android_css_override.css */
/*
https://raw2.github.com/disneyrz/disneyid/master/did_android_css_override.css
*/
.disneyid-modal-header{
    background: linear-gradient(to bottom, #334455, #112233) repeat scroll 0 0 #112233;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#334455), to(#334455));
}
#logo{
    background-image: url("https://raw2.github.com/disneyrz/disneyid/master/logo_disney.png");
}
.btn.btn-primary{
    background:  #3F6DAC;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    padding: 12px 4px 12px 4px;
    margin: 10px 0px 10px 0px;
}
h2{
    font-size: 16px;
    margin: 8px 0px 10px 0px;
    color: #000000;
}
     
.coloredcol {
    background-color: #FFFFFF;
    border: 1px;
    border-color: #CCCCCC;
}
.twocol {
    padding: 0;
    margin: 0px 12px 0px 12px;
}



